pre,
code {
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

pre {
  overflow-x: auto;
  background: var(--darker);
  color: var(--paper);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.85rem;
}

code {
  background: var(--lighterAccent);
  color: var(--darker);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-size: 1rem;
  white-space: pre-wrap;
}

pre code {
  background: transparent;
  padding: 0;
}
