body {
	line-height: 1.6;
	font-size: 1rem;
  }
  
  @media (min-width: 48rem) {
	body {
	  font-size: 1.125rem;
	}
  }
  
  @media (min-width: 80rem) {
	body {
	  font-size: 1.25rem;
	}
  }
  
  :where(h1, h2, h3, h4, h5, h6) {
	margin: 4rem 0 1rem;
	font-family: var(--accentFont);
	font-weight: bold;
	color: var(--darker);
  }
  
  h1 {
	font-size: clamp(2.5rem, calc(2.5rem + 1vw), 3.5rem);
	margin: 0 0 2rem;
  }
  
  h2 {
	font-size: clamp(2rem, calc(2rem + 1vw), 2.8rem);
  }
  
  h3 {
	font-size: clamp(1.6rem, calc(1.6rem + 1vw), 2rem);
  }
  
  h4 {
	font-size: clamp(1.4rem, calc(1.4rem + 1vw), 1.8rem);
  }
  
  h5 {
	font-size: clamp(1.2rem, calc(1.2rem + 1vw), 1.5rem);
  }
  
  h6 {
	font-size: clamp(1rem, calc(1rem + 1vw), 1.25rem);
  }
  
  a {
	color: var(--darker);
	text-decoration-thickness: 1px;
	text-decoration-color: var(--dark);
  }
  
  ul {
	list-style-type: disc;
	padding-left: 2rem;
  }
  
  ul ul {
	list-style-type: circle;
  }
  
  ul::marker {
	color: var(--accent);
  }
  